# Environment & Secrets (CRITICAL: DO NOT COMMIT TO GITHUB)
.env
.env.*
*.env
*.pem
*.key
cookies.json
secrets.toml
.streamlit/secrets.toml

# Logs & Temporary
*.log
/tmp/

# Cache & Models
__pycache__/
*.pyc
.ipynb_checkpoints/
tmp_trainer/
results/indobert_finetuned*/
*.safetensors
*.bin
*.pt
*.pth
.venv/
html_files/
lib/
mbg-sna-github/

*.BACKUP_*
*.backup.txt
*.log
