streamlit==1.49.1
pandas==2.3.2
numpy==2.2.6
plotly==6.3.0
networkx==3.5
python-louvain==0.16
pyvis==0.3.2
matplotlib==3.10.6
seaborn==0.13.2
wordcloud==1.9.4
scikit-learn==1.7.2
openpyxl==3.1.5
google-genai==1.38.0
python-dotenv==1.1.1
twikit==2.3.3
nest-asyncio==1.6.0
